$pageColor-darkest: hsl(168.92, 13.71%, 11.76%);
$pageColor-dark: hsl(168.92, 33.71%, 21.76%);
$pageColor-medium: hsl(168.92, 73.71%, 41.76%);
$pageColor-light: hsl(168.92, 63.71%, 75.76%);
$pageColor-lightest: hsl(168.92, 73.71%, 90.76%);
